.photo-card {
    border: 1px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: flex; /* Use flex display to center content */
    flex-direction: column; /* Stack image and caption vertically */
    align-items: center; /* Center content horizontally */
  }
  
  .photo-card img {
    width: 100%; /* Ensure the image takes the full width of the card */
    height: auto; /* Maintain aspect ratio */
    display: block;
  }
  
  /* Responsive styles for larger screens */
  @media (max-width: 768px) {
    .photo-grid {
      display: block;
    }
  
    .photo-card {
      margin-bottom: 1rem;
    }
  
    .photo-card img {
      max-width: 100%; /* Ensure the image still takes the full width of the card */
      max-height: 100%; /* Adjust the maximum height of the image */
    }
  }
  
  /* Responsive styles for even larger screens */
  @media (min-width: 992px) {
    .photo-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }