ion-button {
    margin-top: 1rem;
  }

.content-container {
  display: flex; /* Center content vertically within the container */
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center;
}


  